.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.feed-form input {
    padding: 0 20px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 471%;
    color: #4b4b4b;
    width: 100%;
    margin-bottom: 15px;
}
.feed-form button {
    margin-top: 5px;
    width: 100%;
}
.feed-form_mt25 {
    margin-top: 25px;
}
